/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-15, 14:23:59
    Author     : teofil
*/

.container {
    padding: 10px;
}

.easy-autocomplete {
    display: inline;
}

#edit-form .title {
    font-size: 3em;
    height: 1.2em;
    border: 1px dotted #ddd;
}

#edit-form .parents-table {
    margin: 0;
    color: #888;
}
#edit-form .parents-table tr {
    border: none;
}

#edit-form .parents-table td {
    color: #888;
}

#edit-form .parents-table td.outer-td {
    vertical-align: middle;
    padding: 3px;
}

#edit-form .parents-table td.td-prepath {
    text-align: right;
    text-align-last: right;
    width: 40%;
}

#edit-form .parents-table td.td-input {
    width: 35%;
}

#edit-form .parents-table td.td-afterpath {
    text-align: left;
    width: 25%;
}

#edit-form .parents-table td table {
    border: none;
    margin: 0;
    width: 100%;
}

#edit-form .parents-table td table tr {
    border: none;
}

#edit-form .parents-table td table tr td {
    border: none;
    vertical-align: none;
}

#edit-form .easy-autocomplete {
    width: 100%;
}

#edit-form .easy-autocomplete input {
    width: 100%;
    border: 1px dotted #ddd;
    color: #777;
    text-align: center;
}

.children-field {
    color: #666;
    border: 1px dotted #ddd;
}

.children-field a {
    color: #5fc3cd;
}

#md-editor {
    border: 2px dotted green;
}

.search-container {
    text-align: right;
}

#top-search-box {
    text-align: right;
}