/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-15, 14:23:59
    Author     : teofil
*/

.search-container .easy-autocomplete {
    width: auto;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

.search-container {
    text-align: right;
    padding-right: 15px;
}

#top-search-box {
    text-align: right;
    top: 0;
}

#edit-form .title {
    font-size: 3em;
    height: 1.2em;
    border: 1px dotted #ddd;
}

.page-editor-main .page-title {
    font-size: 3em;
    height: 1.2em;
    border: 1px dotted #ddd;
    min-height: 1px;
}

#edit-form .parents-table {
    margin: 0;
    color: #888;
}
#edit-form .parents-table tr {
    border: none;
}

#edit-form .parents-table td {
    color: #888;
}

#edit-form .parents-table td.outer-td {
    vertical-align: middle;
    padding: 3px;
}

#edit-form .parents-table td.td-prepath {
    text-align: right;
    text-align-last: right;
    width: 50%;
}

#edit-form .parents-table td.td-input {
    width: 30%;
}

#edit-form .parents-table td.td-afterpath {
    text-align: left;
    width: 10%;
}

#edit-form .parents-table td table {
    border: none;
    margin: 0;
    width: 100%;
}

#edit-form .parents-table td table tr {
    border: none;
}

#edit-form .parents-table td table tr td {
    border: none;
    vertical-align: none;
}

#edit-form .easy-autocomplete {
    width: 100%;
}

#edit-form label {
    display: none;
}

#edit-form .easy-autocomplete input {
    width: 100%;
    border: 1px dotted #ddd;
    color: #777;
    text-align: center;
}

.children-field {
    color: #666;
    border: 1px dotted #ddd;
    background: white;
    padding: 5px;
}

.parents-field {
    border: 1px dotted #ccc;
}

.children-field a {
    color: #5fc3cd;
}

.md-editor {
    border: 2px dotted green;
    background: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.md-editor .emptyline {
    min-height: 1.5em;
    line-height: 1.5;
}

.md-editor .searchResult {
    background-color: yellow;
}

.md-editor .bold {
    font-weight: bold;
}

.md-editor .italic {
    font-style: italic;
}

.md-editor .link {
    color: #1798A5;
    text-decoration: none;
}

.md-editor .link:hover {
    color: #1798A5;
    text-decoration: underline;
}

.md-editor .img {
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: 22px !important;
    color: #888;
    text-align: center;
}

.is-dragover {
    background: greenyellow;
}

.open-edit-button {
    width: 100%;
    text-align: center;
    border: 1px dotted #ccc;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.open-edit-button a {
    font-size: 3em;
}

.top-bar-section {
    float: right;
}

.title-area .name {
    display: inline;
}

ul.title-area {
    width: 320px;
}

.top-bar .name h1 a {
    display: inline;
}

.top-bar ul.unsaved {
    background-color: #960700 !important;
}

.top-bar ul.unsaved-error {
    background-color: red !important;
}

#msg-bar {
    display: none;
}

.loading-placeholder {
    width: 100%;
    padding: 50px;
    text-align: center;
}

.modal-error {
    color: red;
}

.tree-container {
    padding: 10px;
    padding-bottom: 400px;
}

.tree-container ul {
    border-left: 1px solid #ddd;
    list-style-position: inside;
    margin-left: 2rem;
}

.tree-container > ul {
    margin-left: 0;
    border: 0;
    list-style: none;
}

.tree-container > ul > li > div {
    margin-left: 0 !important;
}

.tree-container > ul > li > ul {
    margin-left: 0.75rem;
}

.tree-container li .dropdown {
    display: inline;
    margin-left: -15px;
    color: #111;
}

.tree-container li {
    margin-left: -3px;
    color: #ccc;
}

.tree-container .dropdown {
    color: #111;
}

.tree-container .dropdown ul {
    border: 0;
    margin-left: 1.1rem;
}

.tree-container .dropdown li {
    margin-left: 1.25rem;
    color: #111;
}

.tree-container .dropdown ul.dropdown-menu {
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.page-editor-main {
    padding: 10px;
    background: #eee;
    width: 100%;
    min-height: 800px;
}

.parents-table {
    margin-bottom: 3px;
}

.parents-table td {
    padding: 5px;
    vertical-align: middle ! important;
}

.parents-table td.td-prepath {
    width: 45%;
}

.parents-table td.td-input {
    width: 45%;
}

.parents-table td.td-afterpath {
    width: 10%;
}

.parents-table td input {
    margin: 0 !important;
}

.parents-table td .easy-autocomplete {
    margin: 0 !important;
    padding: 0 !important;
}

.parents-table td .pageselector {
    margin: 0 !important;
}

.status-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3px;
    background: #eee;
    border-left: 1px solid #116d76;
    border-top: 1px solid #116d76;
    font-size: 0.75em;
    color: #777;
    padding-left: 10px;
    padding-right: 10px;
}

.parentsform {
    background: white;
    padding: 5px;
    margin-bottom: 1rem;
}

.add-form-btn {
    width: 100%;
    text-align: center;
}

.add-form-btn a {
    margin: 5px;
}

.parents-table .td-prepath tr:last-child {
    border: 0 !important;
}

.editor-details-collapser {
    height: 15px;
    width: 100%;
    background-color: #5cb85c;
}